<section class=" d-flex justify-content-center align-items-center">
  <div class="container text-center ">
    <img src="assets/images/cartoon-vector-design.jpg" class= "rounded-circle pb-2" alt="">
     <h1>START FRAMEWORK</h1>
     <div class="d-flex align-items-center justify-content-center mb-3">
      <div class=" me-3" style="background-color: white; height: 4px; width: 100px;"></div>
      <i  class="fa-solid fa-star"></i>
      <div class=" ms-3" style="background-color: white; height: 4px; width: 100px;"></div>
    </div>
     <h5>Graphic Artist - Web Designer - Illustrator</h5>
  </div>

</section>
